
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Journal</title>
    <link rel='stylesheet' href="/css/styles.css">
  </head>
  <body>
    <nav>
      <img src="/images/logo.png" alt="Logo" class="logo">
      <% if (user) { %>
          <a href= "/users/<%= user.id %>">Passport Page</a>
          <a href="/auth/signout">Sign out</a>
      <% } %>
    </nav>

    <h1>Travel Journal</h1>
    <p>The perfect place to store all of the memories of your adventures!</p>
    <% if (user) { %>
      <h2>Welcome to the app, <%= user.username %>!</h2>
      <p>
        <a href="/users/<%= user.id %>" class="button">Passport Page</a>
      </p>
      <% } else { %>
      <h2>What are you waiting for? Sign up now!</h2>
      <p>
        <a href="/auth/signup"class=button>Sign up</a> <a href="/auth/signin" class="button">Sign in</a>
      </p>
    <% } %>

  </body>
</html>
